@import 'variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

h1, h2, p, button {
    font-family: $ptserif-regular;
}

h3 {
    font-family: $inter-light;
}

//Banner
.tile-1:hover {
    transform: scale(1.05);
    transform-origin: center left;

    .overlay-1 {
        opacity: 1;
    }
}

.tile-2:hover {
    .overlay-2 {
        opacity: 0.2;
    }

    h2 {
        opacity: 1;
    }
}

.tile-3:hover {
    transform: scale(1.05);
    transform-origin: center right;

    .overlay-3 {
        opacity: 1;
    }
}
//Nav

nav {
    li {
        font-family: $ptserif-regular;
        font-size: 18px;
        letter-spacing: 2px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.menuIsOpen {
    .menu {
        transform: translateX(0);
    }
}

//Carousel 

.slide:hover {

    h1 {
        opacity: 0;
    }
}

//Contact 

.letter {
    letter-spacing: 4px;
    font-size: 22px;
}

input {
    border-color: #6F6F6F;
}